
<div class="container" style="padding-top:60px;">  
  <div class="row">  
    <div class="col-md-6 mx-auto">  
      <div class="card-group">  
        <div class="card p-4">  
          <div class="card-body">  
            <form name="form" (ngSubmit)="login()" #f="ngForm">   
              <h1 style="text-align:center">Login</h1>  
               
              <div class="input-group mb-3">  
                <div class="input-group-prepend">  
                  <span class="input-group-text"><i class="icon-user"></i></span>  
                </div>  
                <input type="text" name="username" [(ngModel)]="model.username" class="form-control sty1" placeholder="User Name" required>  
              </div>  
              <div class="input-group mb-4">  
                <div class="input-group-prepend">  
                  <span class="input-group-text"><i class="icon-lock"></i></span>  
                </div>  
                <input  type="password" name="password" [(ngModel)]="model.password" class="form-control"  
               placeholder="Password">  
              </div>  
              <div>  
                  <p style="color:#E92626;font-size:20px;font-weight:normal" Class="success" align="left">  
                    {{errorMessage}}  
                  </p>  
                </div>  
              <div class="row">  
                <div class="col-6">  
                  <button type="submit" class="btn btn-primary px-4">Login</button>  
                </div>  
                <div class="col-6 text-right">  
                  <button type="button" class="btn btn-link px-0" data-toggle="modal" data-target="#changePasswordModal">Change password?</button>  
                </div>  
              </div>  
                
            </form>  
          </div>  
        </div>  
      </div>  
    </div>  
  </div>  
</div>
<!-- Modal   -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="changePasswordForm" id="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm)">  
          <!-- <h1 style="text-align:center">Add Stock</h1>   -->
        
          <div class="form-group">
            <label for="formControlUserName">User Name</label>               
            <input type="text" class="form-control" placeholder="User Name"  formControlName="USERNAME">  
          </div>
          <div class="form-group">
            <label for="formControlPassword">Old Password</label>               
            <input type="password" class="form-control" placeholder="Old Password "  formControlName="PASSWORD">  
          </div>  
          <div class="form-group">
            <label for="formControlNewPassword">New Password</label>               
            <input type="password" class="form-control" placeholder="Entry Date"  formControlName="NewPASSWORD">  
          </div>
          <div class="form-group">
            <label for="formControlreEnterPassword">Re-Enter Password</label>               
            <input type="password" class="form-control" placeholder="Re-Enter Password"  formControlName="ReEnterPassword">  
          </div>     
          <div>  
            <p style="color:#E92626;font-size:20px;font-weight:normal" Class="success" align="left">  
              {{errorMessage}}  
            </p>  
          </div>   
          <!-- <button type="submit" class="btn btn-primary px-4">Next</button>   -->
        </form>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" form="changePasswordForm" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>