<div class="container-fluid" style="padding-top:60px;padding-left:100px;padding-right:100px;">  
        <div class="card-group">  
          <div class="card">  
            <div class="card-header">
                <h2 style="text-align:center">Sale</h2>
            </div>
            <div class="card-body">
              <!--div class="jumbotron"-->  
              
                <table class="tableBodyScroll table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">Stock Name</th>
                        <th scope="col">Per Item Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let selectedItem of selectedItems" scope="col">
                        <th scope="row">1</th>
                        <td>{{selectedItem.ITEM_NAME}}</td>
                        <td>{{selectedItem.STOCK_NAME}}</td>
                        <td>{{selectedItem.PRICE}}</td>
                        <td>{{selectedItem.QUANTITY}}</td>
                        <td>{{selectedItem.PRICE * selectedItem.QUANTITY}}</td>
                      </tr>
                      <tr>
                        <th scope="row"><button class="btn btn-light" type="button" data-toggle="modal" data-target="#addItemSaleModal" (click)="getStock()"> <b>+</b> </button></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                          <th scope="row">Grand Total</th>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><h3 style="text-align:right">{{grandTotal}}</h3></td>
                      </tr>
                    </tbody>
                  </table>
                <!--/div-->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Proceed</button>
            </div>  
          </div>  
        </div>  
  </div>


<div class="modal fade bd-example-modal-lg" id="addSaleModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addItemSaleModalLabel">Summary</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <table class="tableBodyScroll table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Item Name</th>
                  <th scope="col">Stock Name</th>
                  <th scope="col">Per Item Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let selectedItem of selectedItems" scope="col">
                  <th scope="row">1</th>
                  <td>{{selectedItem.ITEM_NAME}}</td>
                  <td>{{selectedItem.STOCK_NAME}}</td>
                  <td>{{selectedItem.PRICE}}</td>
                  <td>{{selectedItem.QUANTITY}}</td>
                  <td>{{selectedItem.PRICE * selectedItem.QUANTITY}}</td>
                </tr>
                <tr>
                    <th scope="row">Grand Total</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><h3 style="text-align:right">{{grandTotal}}</h3></td>
                </tr>
              </tbody>
            </table>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" (click)="completeSale()">Complete Sale</button>
        </div>
    </div>
  </div>
</div>

  <div class="modal fade" id="addItemSaleModal" tabindex="-1" role="dialog" aria-labelledby="addItemSaleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addItemSaleModalLabel">Add Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="ItemForm" id="ItemForm" (ngSubmit)="addSaleItem(ItemForm)">
            <div class="form-group">
              <label for="formControlSelectItem">Stock</label>
              <select class="form-control" id="formControlSelectItem" ng-model="selectedStock" formControlName="STOCK_ID" (change)="selectedStock($event.target.value)">
                <option *ngFor="let stock of stocks; let i = index" [value]="stocks[i].STOCK_ID" type="number">
                    {{stocks[i].STOCK_NAME}}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="formControlSelectItem">Item</label>
              <select class="form-control" id="formControlSelectItem" ng-model="selectedItem" formControlName="STOCK_ITEM_ID" (change)="selectedItem($event.target.value)">
                <option *ngFor="let item of stock_items; let i = index" [value]="stock_items[i].STOCK_ITEM_ID" type="number">
                    {{stock_items[i].ITEM_NAME}}s
                </option>
              </select>
            </div>
            <div class="form-group" *ngIf="currentItem">
              <label for="formControlSelectItem">Remaining Quantity</label>
              <h4 *ngIf="currentItem">{{remainingQuantity}}</h4>
            </div>
            <div class="form-group" *ngIf="currentItem">
              <label for="formControlSelectItem">Quantity For Sale</label>
              <input class="form-control form-control-lg" type="number" placeholder="0" min="0" max="{{currentItem.QUANTITY}}" (change)="changeRemainingQuantity($event.target.value)" formControlName="QUANTITY">
            </div>
            <div class="form-group" *ngIf="currentItem">
              <label for="formControlSelectItem">Price</label>
              <h4 *ngIf="currentItem">₹ {{itemTotalPrice}}</h4>
            </div>
            <div class="form-group" *ngIf="alreadySelected">
                <h4 *ngIf="alreadySelected">Item Already Selected</h4>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" form="ItemForm" class="btn btn-primary">Add Item</button>
        </div>
      </div>
    </div>
  </div>