<div class="container-fluid" style="padding-top:60px;padding-left:60px;padding-right:60px;">  
  <div class="card-group">  
    <div class="card">  
      <div class="card-header">
          <h2 style="text-align:center">Stock</h2>
      </div>
      <div class="card-body">
<div class="overflow-auto" >
  <table class="tableBodyScroll table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Purchase Date</th>
        <th scope="col">Entry Date</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of stocks" scope="col">
        <td>{{stock.STOCK_ID}}</td> 
        <td>{{stock.STOCK_NAME}}</td>
        <td>{{stock.PURCHASE_DATE}}</td>
        <td>{{stock.ENTRY_DATE}}</td>
        <td><button class="btn btn-primary" type="button"  data-toggle="modal" data-target="#viewStockModal" (click)="getStockDetails(stock.STOCK_ID, stock.STOCK_NAME)" > View Details </button></td>
        <td><button class="btn btn-primary" type="button" (click)="ViewStockItem(stock.STOCK_ID)" > Update Items </button></td>
      </tr>
    </tbody>
  </table>
</div>

<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#addStockModal"> Add Stock </button>
<button class="btn btn-primary" type="button" (click)="Goback()">Back </button>

</div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="addStockModal" tabindex="-1" role="dialog" aria-labelledby="addStockModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addStockModalLabel">Add Stock</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="AddStockForm" id="AddStockForm" (ngSubmit)="nextAddItems(AddStockForm.value)" class="needs-validation" novalidate>  
          <!-- <h1 style="text-align:center">Add Stock</h1>   -->
        
          <div class="form-group">
            <label for="formControlStockName">Stock Name</label>               
            <input type="text" class="form-control" placeholder="Stock Name" formControlName="STOCK_NAME" required>  
          </div>
          <div class="form-group">
            <label for="formControlReceivedDate">Received Date</label>               
            <input type="date" class="form-control" placeholder="Received Date "  formControlName="PURCHASE_DATE" required>  
          </div>  
          <div class="form-group">
            <label for="formControlEntryDate">Entry Date</label>               
            <input type="date" class="form-control" placeholder="Entry Date" [value] = "currentDate | date:'yyyy-MM-dd'" formControlName="ENTRY_DATE">  
          </div>    
          <!-- <button type="submit" class="btn btn-primary px-4">Next</button>   -->
        </form>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancel</button>
        <button type="submit" form="AddStockForm" class="btn btn-primary" >Next</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="viewStockModal" tabindex="-1" role="dialog" aria-labelledby="viewStockModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addStockModalLabel">Stock Details : {{currentStockName}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="overflow-auto" >
              <table class="tableBodyScroll table table-striped">
                <thead>
                  <tr>
                    <th scope="col">ITEM ID</th>
                    <th scope="col">ITEM NAME</th>
                    <th scope="col">INITIAL QUANTITY</th>
                    <th scope="col">REMAINING QUANTITY</th>
                    <th scope="col">COST PRICE</th>
                    <th scope="col">SELLING PRICE</th>
                    <th scope="col">PROFIT / LOSS</th>
                    <!-- <th scope="col"></th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let stock_item of stock_items_profit" scope="col">
                    <td>{{stock_item.ITEM_ID}}</td>
                    <td>{{stock_item.ITEM_NAME}}</td>
                    <td>{{stock_item.INITIAL_QUANTITY}}</td>
                    <td>{{stock_item.QUANTITY}}</td>
                    <td>₹ {{stock_item.COST_PRICE}}</td>
                    <td>₹ {{stock_item.SELLING_PRICE}}</td>
                    <td *ngIf="profitFlag == '1'"><h4><font color="green">₹ {{stock_item.PROFIT}}</font></h4></td>
                    <td *ngIf="profitFlag == '2'"><h4><font color="red">₹ {{stock_item.PROFIT}}</font></h4></td>
                    <td *ngIf="profitFlag == '3'"><h4><font color="black">₹ {{stock_item.PROFIT}}</font></h4></td>
                    <!-- <td><button class="btn btn-danger" type="submit" (click)="removeItem(item.ID)">Delete Item</button></td> -->
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                        <td><h4>TOTAL</h4></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td *ngIf="totalProfitFlag == '1'"><h3><font color="green">₹ {{totalProfit}}</font></h3></td>
                        <td *ngIf="totalProfitFlag == '2'"><h3><font color="red">₹ {{totalProfit}}</font></h3></td>
                        <td *ngIf="totalProfitFlag == '3'"><h3><font color="black">₹ {{totalProfit}}</font></h3></td>
                      </tr>
                </tfoot>
              </table>
        
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-dismiss="modal" >Close</button>
      </div>
    </div>
  </div>
</div>

 