<div class="container-fluid" style="padding-top:60px;padding-left:60px;padding-right:60px;">
    <div class="row">
      <div class="col-sm" align="center">
        <button class="btn btn-lg btn-primary" type="submit" (click)="ViewStock()" ><h1>View Stock</h1></button>
      </div>
      <div class="col-sm" align="center">
        <button class="btn btn-lg btn-primary" type="submit" (click)="ViewItems()"><h1>View Items</h1></button>
      </div>
      <div class="col-sm" align="center">
        <button class="btn btn-lg btn-primary" type="submit" (click)="ViewSales()"><h1>View Sales</h1></button>
      </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
        <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="sale()"><h1>Sale</h1></button>
    </div>
  </div>