<div class="container-fluid" style="padding-top:60px;padding-left:60px;padding-right:60px;">
    <div class="row">
      <div class="col-sm" align="center">
        <button class="btn btn-lg btn-primary btn-circle btn-xl" type="submit" (click)="ViewStock()" ><img src="../../assets/storage.png" alt="stock" width="160px"></button>
        <h1>View Stock</h1>
      </div>
      <div class="col-sm" align="center">
          <button class="btn btn-lg btn-primary btn-circle btn-xl" type="submit" (click)="ViewItems()" ><img src="../../assets/plant_icon.png" alt="stock" width="160px"></button>
          <h1>View Items</h1>
      </div>
      <div class="col-sm" align="center">
          <button class="btn btn-lg btn-primary btn-circle btn-xl" type="submit" (click)="ViewSales()" ><img src="../../assets/plant_icon2.png" alt="stock" width="160px"></button>
          <h1>View Sales</h1>
      </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
        <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="sale()"><h1>Sale</h1></button>
    </div>
  </div>